

body{

  background-color: #eaf2df;

	font-family: 'Roboto', sans-serif;
	font-weight:100;
  color: #6666ff;

     /*font-family: 'CirrusCumulus';
     src: url(2.fonts/CirrusCumulus.woff);
     /*src: url('/2.font/Helvetica-Textbook-LT-Roman');*/
   
}

/* unvisited link */
a:link {
  color: #6666ff;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #6666ff;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: yellow;
  text-decoration: none;
}

/* selected link */
a:active {
  color: #6666ff;
}


ul {
  list-style-type: none;
  margin: 0px;
  padding: 0;
  overflow: hidden;
    /*background-color: #eaf2df;
  opacity: 50%;*/
  position: fixed;
  z-index: 3;
  display: table;
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  text-align: center;
  /*white-space: nowrap;*/
}

li {
  
  overflow: hidden;
  display: table-cell;
  
  padding: 0px;
  text-overflow: ellipsis;

  border-bottom: 4px solid #6666ff;
  border-right: 4px solid #6666ff;
}

li a {
 
  
  color: #6666ff;
  text-decoration: none;
  font-size: 5vw;
  /*font-size: 50pt;*/
}

.without{

  color: #6666ff;
  text-decoration: none;

}

/*전면 이미지*/
.images {
  display : block;
  margin : auto;
  margin-bottom: 45px;
  width: 90%;
  
}


/*절반 병렬 이미지*/
.images2 {
  float: left;
  margin-bottom: 10px;
  width: 50%;
  
}

/*1/3 병렬 이미지*/
.images3 {
  float: left;
  margin-bottom: 10px;
  width: 33.33%;
  
}

/*1/4 병렬 이미지*/
.images4 {
  float: left;
  margin-bottom: 10px;
  width: 25%;
  
}



/*섬네일 이미지들*/
.thumnail {
  float: left;
  margin : none;
  width: 33.33%;

}

/*섬네일 이미지 제목*/
.thumnailtitle {
  float: left;
  /*margin : none;*/
  line-height: 0.1;
  margin-top: 0;
  margin-bottom: 30pt;
  margin-left: 20pt;
  font-weight:normal;
  /*width: 33.33%;*/
  /*background-color: red;*/
  /*display: inline-block;
  vertical-align: top;*/
}


/*격자 정렬*/
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/*작업 설명글*/
.description {
  font-size: 2.1vw;
  margin : 40px;
  max-width: 45vw;
  position: relative;
  left: 7vw;
  font-weight:normal;
}

.about-text {
  font-size: 3vw;
  margin : 40px;
  max-width: 65vw;
  position: relative;
  left: 7vw;
  font-weight:normal;
}

.homeimages{
  position: relative;
  z-index: 0;

}

.homestatement{

  position: fixed;
  /*text-align: center;*/
  z-index: 5;
  margin-left: 25%; 
  margin-top: 50vh;
}


/*.img {
display : inline-block;

}*/

